---
# Copy and deploy the application code

- name: Install Bluepill
  gem: name=bluepill state=present user_install=no
  tags: rletters

- name: Create Bluepill run directory
  file: path=/var/run/bluepill state=directory
  tags: rletters

- name: Create Bluepill log configuration
  lineinfile: dest=/etc/rsyslog.conf regexp='^local6' line='local6.*    /var/log/bluepill.log' state=present
  notify: restart rsyslogd
  tags: rletters

- name: Create Bluepill log rotation configuration
  lineinfile: dest=/etc/logrotate.d/syslog regexp='^/var/log/bluepill\.log' line='/var/log/bluepill.log' state=present insertbefore=BOF
  tags: rletters

- name: Install Bluepill init script
  copy: src=bluepill-initscript.sh dest=/etc/init.d/bluepill mode=0755
  tags: rletters

- name: Install NodeJS as an ExecJS runtime
  yum: name=nodejs state=present
  tags: rletters

- name: Create RLetters directory
  file: path=/opt/rletters state=directory
  tags: rletters

- name: Create RLetters state directory
  file: path=/opt/rletters/state state=directory
  tags: rletters

- name: Install git
  yum: name=git state=present
  tags: rletters

- name: Check out RLetters via git
  git: repo=git://github.com/cpence/rletters.git dest=/opt/rletters/root
  tags: rletters

- name: Create bundle directory
  file: path=/opt/rletters/state/bundle state=directory
  tags: rletters

- name: Symlink bundle directory
  file: src=/opt/rletters/state/bundle path=/opt/rletters/root/vendor/bundle state=link
  tags: rletters

- name: Install bundle to vendor/bundle
  command: chdir=/opt/rletters/root/ bundle install --deployment --without development test
  tags: rletters

- name: Create database.yml file
  template: src=database.yml.j2 dest=/opt/rletters/state/database.yml
  tags: rletters

- name: Symlink database.yml file
  file: src=/opt/rletters/state/database.yml path=/opt/rletters/root/config/database.yml state=link
  tags: rletters

- name: Create Java environment configuration file
  copy: src=00_java_environment.rb dest=/opt/rletters/root/config/initializers/00_java_environment.rb
  tags: rletters

- name: Create the sockets directory
  file: path=/opt/rletters/root/tmp/sockets state=directory
  tags: rletters

- name: Fetch the Stanford NLP package
  get_url: url=http://louismullie.com/treat/stanford-core-nlp-full.zip dest=/tmp/stanford-core-nlp-full.zip
  tags: rletters

- name: Install unzip
  yum: name=unzip state=present
  tags: rletters

- name: Unzip the Stanford NLP package
  command: chdir=/opt/rletters/root/vendor/nlp/ unzip /tmp/stanford-core-nlp-full.zip creates=/opt/rletters/root/vendor/nlp/stanford-corenlp.jar
  tags: rletters

- name: Create the Unicorn configuration
  copy: src=unicorn.rb dest=/opt/rletters/state/unicorn.rb
  tags: rletters

- name: Symlink the Unicorn configuration
  file: src=/opt/rletters/state/unicorn.rb path=/opt/rletters/root/config/unicorn.rb state=link
  tags: rletters

# This shouldn't cause damage, but we don't put the rletters tag on it, just to
# be safe.
- name: Migrate the database
  shell: chdir=/opt/rletters/root/ bundle exec rake db:migrate RAILS_ENV=production
  register: migrate_result
  changed_when: migrate_result.stdout != ''
  tags: rletters_migrate

# This should only seed the database once, but just to be safe, we don't put
# the rletters tag on this.
- name: Seed the database
  shell: chdir=/opt/rletters/root/ creates=/opt/rletters/state/database_seeded bundle exec rake db:seed RAILS_ENV=production && touch /opt/rletters/state/database_seeded
  tags: rletters_seed

- name: Precompile the assets
  shell: chdir=/opt/rletters/root/ bundle exec rake assets:precompile RAILS_ENV=production
  tags: rletters

- name: Set the ownership for the RLetters directory
  file: path=/opt/rletters owner=rletters_deploy group=rletters_deploy state=directory recurse=yes
  tags: rletters

- name: Set the setting to point RLetters at the local Solr server
  command: chdir=/opt/rletters/root bundle exec rake setting:set[solr_server_url,http://localhost:8080/solr/] RAILS_ENV=production
  when: inventory_hostname == groups['solrserver'][0]
  tags: rletters

- name: Set the setting to point RLetters at the external Solr server
  command: chdir=/opt/rletters/root bundle exec rake setting:set[solr_server_url,{{ hostvars[groups['solrserver'][0]]['ansible_eth0']['ipv4']['address'] }}] RAILS_ENV=production
  when: inventory_hostname != groups['solrserver'][0]
  tags: rletters

- name: Make sure Bluepill is started
  service: name=bluepill state=started enabled=yes
  register: bluepill_start
  tags: rletters

- name: Reload Bluepill if needed
  service: name=bluepill state=reloaded
  when: not bluepill_start.changed
  tags: rletters

- name: Wait for Bluepill to bring up the Unicorns
  script: bluepill-wait.sh
  tags: rletters
