# -*- encoding : utf-8 -*-

# Randomly generated (hence, safe) secret tokens
RLetters::Application.config.secret_token =  '{% for number in range(128) %}{{ "0123456789abcdef"|random }}{% endfor %}'
RLetters::Application.config.secret_key_base = '{% for number in range(128) %}{{ "0123456789abcdef"|random }}{% endfor %}'
